.classA{
    width: 100%;
    overflow: hidden;
    height: 380px;
}

.classB{
    width: 100%;
    overflow: hidden;
    height: 480px;
}

.title-setting{
    font-size: xx-large;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-display: purple;
    
}

.card-img-overlay{
    font-size: xx-large;
    font-family: DFKai-sb;
    font-style: italic;
    font-display: black;
}

.photo-column{
    background-color: sienna;
    height: 1100px;
}

 #photo-gallery{
    background-color: bisque;
    height: 1100px;
}

.photo-sm {
    width: 100%;
    height: 480px;
    background-color: rgb(221, 200, 190);
    margin-top: 20px;
    overflow: hidden;
    position: relative; /* Add position relative */
}

.photo-sm img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Add object-fit */
}

.photo-big {
    width: 100%;
    height: 580px;
    background-color: rgb(158, 118, 99);
    margin-top: 20px;
    overflow: hidden;
    position: relative; /* Add position relative */
}

.photo-big img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Add object-fit */
}


@media (min-width: 575.98px){
    .video {
        margin-top: 20px;
        width: 100%;
        height: 400px;
    }
}

@media (min-width: 767.98px){
    .video {
        margin-top: 20px;
        width: 100%;
        height: 600px;
    }
}

@media (min-width: 991.98px){
    .video {
        margin-top: 20px;
        width: 100%;
        height: 800px;
    }
}