.classA{
    width: 100%;
    overflow: hidden;
    height: 380px;
}

.classB{
    width: 100%;
    overflow: hidden;
    height: 480px;
}

.title-setting{
    font-size: xx-large;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-display: purple;
    
}

.card-img-overlay{
    font-size: small;
    font-family: DFKai-sb;
    font-style: italic;
    font-display: MistyRose;
    text-align: right;
}

.photo-column{
    background-color: sienna;
    height: 1120px;
}

 #photo-gallery{
    background-color: bisque;
    height: 1120px;
}

.photo-sm {
    width: 100%;
    height: 480px;
    background-color: rgb(221, 200, 190);
    margin-top: 20px;
    overflow: hidden;
    position: relative; /* Add position relative */
}

.photo-sm img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Add object-fit */
}

.photo-big {
    width: 100%;
    height: 580px;
    background-color: rgb(158, 118, 99);
    margin-top: 20px;
    overflow: hidden;
    position: relative; /* Add position relative */
}

.photo-big img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Add object-fit */
}

.btn-primary {
    background-color: lavender; /* 更改主要按鈕的背景顏色 */
    color: mediumpurple; /* 更改按鈕文字顏色 */
    font-family: Arial, sans-serif; /* 更改按鈕字體 */
    /*border: 2px solid black; 增加按鈕的邊框 */
    padding: 10px 20px; /* 添加內部填充，上下各 10px，左右各 20px */
    margin-left: 10px; /* 添加右邊的間距 */
    margin-right: 10px; /* 添加右邊的間距 */
}

.btn-secondary {
    background-color: lavenderblush; /* 更改次要按鈕的背景顏色 */
    color: orchid; /* 更改按鈕文字顏色 */
    font-family: Arial, sans-serif; /* 更改按鈕字體 */
    padding: 10px 20px; /* 添加內部填充，上下各 10px，左右各 20px */
    margin-left: 10px; /* 添加右邊的間距 */
    margin-right: 10px; /* 添加右邊的間距 */
}


@media (min-width: 575.98px){
    .video {
        margin-top: 20px;
        width: 100%;
        height: 400px;
    }
}

@media (min-width: 767.98px){
    .video {
        margin-top: 20px;
        width: 100%;
        height: 600px;
    }
}

@media (min-width: 991.98px){
    .video {
        margin-top: 20px;
        width: 100%;
        height: 800px;
    }
}